<!DOCTYPE html>
<html>
  <title>College Enquiry Chabot</title>
  <body>
    <form action="{{url_for('chatbotsystem')}}" method="POST">
      <h1>College Enquiry Chabot</h1>
      <div class="icon">
	 <i class="fas fa-user-circle"></i>
      </div>
      <div class="formcontainer">
      <div class="container">
       <label for="ufname"><strong>Hi!! Welcome to college enquiry portal</strong></label></br></br>
	  <label for="ufname"><strong>Choose your questions from below list</strong></label></br>
	  <label for="ufname"><strong>1. Does the college have a football team?</strong></label></br>
	  <label for="ufname"><strong>2. Does it have Computer Science Major?</strong></label></br>
	  <label for="ufname"><strong>3. What is the in-state tuition?</strong></label></br>
	  <label for="ufname"><strong>4. Does its have on campus housing?</strong></label></br>
      </div></div><br>
	<div class="text-box">
       <input type="text" style="width:300pt;height:50px" name="question" id="message" autocomplete="off" placeholder="Type your Questions here">
	  <input class="send-button" style="width:50pt;height:50px" type="submit" value=">">
      </div><br>
	  <button href="{{url_for('endchat')}}" align='center'">End Chat</button>
	</div> 
	
    </form>
	
  </body>
</html>
