<!DOCTYPE html>
<html>
  <title>College Enquiry Chabot</title>
  <body>
    <div style="width:500px;margin: auto;border: 1px solid black;padding:10px">
    <form action="{{url_for('startinquiry')}}" method="POST">
      <h1>College Enquiry Chabot</h1>
      <div class="icon">
	 <i class="fas fa-user-circle"></i>
      </div>
	  
      <div class="formcontainer">
      <div class="container">
		<div>{{ message }}</div> <br><br>
        <label for="ufname"><strong>Firstname</strong></label>
        <input type="text" placeholder="Enter Firstname" name="ufname" required><br><br>
	  <label for="ulname"><strong>Lastname</strong></label>
        <input type="text" placeholder="Enter Lastname" name="ulname" required><br><br>
        <label for="mail"><strong>E-mail</strong></label>
        <input type="text" placeholder="Enter E-mail" name="mail" required><br><br>
      </div><br><br>
      <button type="submit"><strong>START ENQUIRY</strong></button>
    </form>
    </div>
  </body>
</html>
